/* This file contains all the constants for colors and font styles */

$body-font: "Open Sans", Georgia, serif;
$font-size: 16px;
$sans-font: Roboto, Calibri, sans-serif;
$code-font: Inconsolata, Menlo, Courier, monospace;
$url-font: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
$text-color: #111;
$bg-color: #fffff8;
$contrast-color: #a00000;
$border-color: #333333;
$link-style: underline; // choices are 'color' or 'underline'. Default is color using $contrast-color set above
