@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Open Sans';
}

img {
        max-width:100%; 
        height:auto
}

.remark-slide-content {
    font-size: 20pt;
    padding: 0.75em 2em 0.75em 2em;
}


.remark-slide-content h1,
.remark-slide-content h2,
.remark-slide-content h3 {
    font-family: 'Roboto';
    font-weight: 300;
}

.remark-slide-content h1 {
    font-size: 130%;
    margin: 30pt;
}

.remark-slide-content h2 {
    font-size: 130%;
}

.remark-slide-content h3 {
    font-size: 110%;
}

.remark-code, .remark-inline-code {
    font-family: 'Source Code Pro';
}

.remark-code {
    font-size: 80%;
}

.remark-inline-code {
    font-size: 110%;
}

.remark-slide-number {
    padding: 0 5px;
    border-radius: 5px;
    font-size: 20px !important;
}

table {
    color: #333;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    transition: all 0.3s;
    /* Simple transition for hover effect */
}

th {
    background: #DFDFDF;
    /* Darken header a bit */
    font-weight: bold;
}

td {
    background: #FAFAFA;
    text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td {
    background: #F1F1F1;
}

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td {
    background: #FEFEFE;
}

/* Hover cell effect */
tr td:hover {
    background: #B1040E;
    color: #FFF;
}

.remark-help .remark-help-content td {
    color: black;
}

/* Two-column layout */
.left-column {
    color: #777;
    width: 20%;
    height: 92%;
    float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
    color: #000;
}

.right-column {
    width: 75%;
    float: right;
    padding-top: 1em;
}

.pull-left {
    float: left;
    width: 47%;
}

.pull-right {
    float: right;
    width: 47%;
}

.pull-right + * {
    clear: both;
}

.remark-slide-content.img-caption {
    text-align: center;
    padding-top: 544.8px;
  }

  .remark-slide-content.img-caption > p:first-of-type {
    padding: 0px;
    margin: 0px;
  }

  .remark-slide-content.img-caption > p:first-of-type > img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80%;
    object-fit: cover;
  }

  .remark-slide-content.img-right > p:first-of-type {
    height: 100%;
    float: right;
    width: calc(50% - 1rem);
    margin-left: 2rem;
    margin-top: 0px;
    padding: 0px;
  }

  .remark-slide-content.img-left > p:first-of-type {
    height: 100%;
    float: left;
    width: calc(50% - 1rem);
    margin-right: 2rem;
    margin-top: 0px;
    padding: 0px;
  }

  .remark-slide-content.img-left > ul,
  .remark-slide-content.img-left > ol,
  .remark-slide-content.img-left > blockquote {
    overflow: auto;
  }

  .remark-slide-content.img-right-full {
    padding-right: calc(40% + 2rem);
  }

  .remark-slide-content.img-right-full > p:first-of-type {
    margin: 0px;
    padding: 0px;
  }

  .remark-slide-content.img-right-full > p:first-of-type > img {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 40%;
    object-fit: cover;
    object-position: left;
  }

  .remark-slide-content.img-left-full {
    padding-left: calc(40% + 2rem);
  }

  .remark-slide-content.img-left-full > p:first-of-type {
    margin: 0px;
    padding: 0px;
  }
  
  .remark-slide-content.img-left-full > p:first-of-type > img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 40%;
    object-fit: cover;
    object-position: right;
  }

.red {
    color:  #B1040E;
}

.grey {
    color:  #B6B1A9;
    ;
}

.small { font-size: 70% }

@page {
    size: 16in 9in;
    margin: 0;
  }
  
  @media print {
    .remark-slide-scaler {
      width: 100% !important;
      height: 100% !important;
      transform: scale(1) !important;
      top: 0 !important;
      left: 0 !important;
    }
  }